[project]
	description = ExposedBridge Module that provides additional ROM settings
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rufuslee
[access "refs/for/refs/*"]
	read = group user/rufuslee
	push = group user/rufuslee
	label-Code-Review = -2..+2 group user/rufuslee
	label-Verified = -1..+1 group user/rufuslee
	rebase = group user/rufuslee
	removeReviewer = group user/rufuslee
	submit = group user/rufuslee
[access "refs/heads/*"]
	read = group user/rufuslee
	create = group user/rufuslee
	push = +force group user/rufuslee
	pushMerge = group user/rufuslee
[access "refs/tags/*"]
	push = group user/rufuslee
	push = +force group user/rufuslee
